@font-face {
  font-family: Lora;
  src: url(/static/theblog/font/Lora-VariableFont_wght.ttf);   
}

body {      
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  
}

h1 {
  font-family:Lora;
}

h2 {
  font-family: Lora;
}
  
nav {
  background-color: #09131C;
  height:50px;
  font-size: 20px;
}

nav a {
  line-height:30px;
}

.list-group-item {
  background: transparent;
  border-top: 1px solid;
  border-radius: 0;
}

.form-control {
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
}

@media screen and (max-width: 1280px) {
  .container-size {
      width: 1280px;
  }
}

.jumbotron{
        height: 250px;
    }
    
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  clear:both;
}

html {
  height:100%;
}

body{
  min-height:100%;
  margin:0;
  padding:0;
  position:relative;
}
 
main{
  padding-bottom:100px;
}/* main的padding-bottom值要等于或大于footer的height值 */

footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  text-align: center;
}