<div id="footer">
    {# 站点底部内容 #}
    <div class="container-size" style="background-color: black;">
        <div class="row">
            <div class="my-3 col-md-6 offset-md-3 text-center">
                <p class="text-muted">©2022
                    <a href="" class="text-white-50 ">My Blog.</a> All Rights Reserved<br>
                    <a id="StranLink" class="text-white-50 ">中英切换</a>
                    |
                    <a href="{% url 'sitemap' %}" target="_blank" rel="nofollow"
                       class="text-white-50 ">Sitemap</a><br>                    
                </p>
            </div>
        </div>
    </div>
</div>