{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    }

    .display-flex {
        display: flex;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .div-size {
        border: 1px solid red;
        width: 150px;
        height: 120px;
        
    }
</style>

{% block  jumbotron %}
    {% include 'jumbotron.html' %}
{% endblock %}

<div class="container">
    <div class="row">
        {% include 'article_list.html' %}
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% block pagination %}
    {% include 'pagination.html' %}
{% endblock pagination %}

{% endblock %}