<style>
    button{
        color:#fff
    }
</style>

<div style="position:relative">
    <div class="jumbotron new-jumbotron"
         style="background-image:url('static/theblog/images/prague-7172594_1920(1)(1).png');">
        <div class="container text-center cover-desc">
            <br><br><br>
            <button type="button" class="btn btn-outline-light rounded-pill" ><i class="fa fa-angle-double-down mr-2" aria-hidden="true"></i>Start Exploring
            </button>
        </div>
    </div>
</div>